**/__pycache__

.venv
bash_log/*
!bash_log/.gitkeep
results_img/*
!results_img/.gitkeep
results_log/*
!results_log/.gitkeep
scripts/*
!scripts/.gitkeep
poetry.lock

emecom_with_stack_based_agents/analysis/*
!emecom_with_stack_based_agents/analysis/average_and_visalize.py

env.json
memo.md